body{

  color:navy;
  background-color:lavender;
  font-family: monospace;
box-sizing: border-box;
}

nav{
  display:flex;
  justify-content:space-around;
  min-height: 100px;
}
article{
  display:flex;

  min-height:200px;
  width:100%;
  background-color:lightcyan;
  flex-direction: column;

}
#psize{
  display: flex;
height: 100px;
width:100%;

}
section{
  display:inline-flex;
  flex-grow:grow;
  min-height:300px;
  width: 100%;
  align-items:flex-start;
  justify-content:center;

}
div{

min-height: 200px;
width: 400px;
margin:10px;
  background-color:#ffffe0;

}
#div{
  display: flex;
  width: 100%;
  background-color:lavender;
  justify-content: center;
}
#h1{
  padding:10px;
  height:75px;
  text-align: center;

}
h1{color: #0f4c75;}
h3{color: #0f4c75;}

.table{
  background-color:purple;
  background-repeat:round;
  border-style:dotted;
  color:lime;
  border-color:yellow;
  height:10px;
}
h2{
  font-style: italic;
}

#decor{
  text-decoration:red underline;
}
h2:hover{
  cursor:pointer;
  color:red;
}
footer{
  height:200px;
  width: 100%;
  background-color: black;
  text-align: center;
}
